.padding {
	padding-top: 30px;
	padding-right: 80px;
	padding-bottom: 30px;
	padding-left: 80px;
	/*text-align: center;*/
}

.aggropadding {
	padding-top: 15px;
	padding-right: 60px;
	padding-bottom: 15px;
	padding-left: 60px;
	/*text-align: center;*/
}

#center{
	text-align:center;
}
